.ribbon {
  background-color: #0a0;
}
@media screen and (min-width: 468px) {
  .ribbon {
    overflow: hidden;
    z-index:3;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    left: -90px;
    top: 40px;
    /* 45 deg ccw rotation */
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    /* shadow */
    -webkit-box-shadow: 0 0 10px #888;
       -moz-box-shadow: 0 0 10px #888;
            box-shadow: 0 0 10px #888;
  }
}
.ribbon a {
  border: 1px solid #afa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:1.2em;
  margin: 1px 0;
  padding: 20px 80px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}
